div#log {
    top:8.5%;
       left:50%;
       width:100px;
       height:40px;
       position: absolute;
       z-index: 2;
}

div#add {
    top:70;
    left:50%;
    width:100px;
    height:40px;
    position: absolute;
    z-index: 2;
}