<body>
    <div  class="table table-bordered" style="text-align:center; table-layout: fixed;">
        <!-- *ngIf="isLoggedIn" -->
        <a [routerLink]="['/home']"><button type="button" class="btn btn-primary">Home</button></a> 
        <a [routerLink]="['/customer']"><button type="button" class="btn btn-primary">Customer Details</button></a> 
        <a [routerLink]="['/customerForm']"><button type="button" class="btn btn-primary">Customer Form</button></a> 
        <a [routerLink]="['/user']"><button type="button" class="btn btn-primary">User Details</button></a> 
        <a [routerLink]="['/analysis']"><button type="button" class="btn btn-primary">Data Analysis</button></a> 
        <a [routerLink]="['/contactus']"><button type="button" class="btn btn-primary">Contact Us</button></a>
      </div>
    <h1>customer form page</h1>
        
</body>